body {
	margin: 3em 3em 0 3em; /* top right bottom left */
}

.box {
 	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
	box-sizing: border-box;
}

/* Clear floats after the columns */
.mainRow:after {
  content: "";
  display: table;
  clear: both;
}
 
 .mainColumn  {
 	float: left;
  	width: 40%;
 	margin: 0 1% 0 0; /* top right bottom left */
 }

.secondMainColumn{
  float: left;
  width: 18%; 
}

#colorArea, #commandsArea {
	width: 100%;
	margin: 1% 0 0 0; /* top right bottom left */
}

#matrixArea {
	padding: 2%
}

.matrixTable {
	  width : 100%;
	  border-style: solid;
	  border-width: 1px;
      table-layout: fixed;
}

.matrixTable td {
	 border-style: solid;
	  border-width: 1px;
	  text-align: center;
}

