body {
	margin: 3em 3em 0 3em; /* top right bottom left */
}

.mainRow {
	 display: flex;
}

.box {
 	border-style: solid;
	border-width: 1px;
}
 
 .mainColumn  {
 	flex: 2; 
 	margin: 0 3px 0 0px; /* top right bottom left */
 }

.secondMainColumn{
	flex: 1; 
	margin-right: 0px; /* top right bottom left */
}

#colorArea, #commandsArea {
	width: 100%;
	margin: 3px 0 0 0px; /* top right bottom left */
}

