<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='javascript.js') }}"></script>
   
  <!--   
  <link rel="stylesheet" href="../static/style.css">
  <script type="text/javascript" src="../static/javascript.js"></script>
  
  -->
  <title>Wordclock</title>
  <script>
	function createMatrixOnload() {
		letters = [ 
			["E", "S", "O", "N", "E", "L", "A", "S", "U", "N", "A"],
			["D", "O", "S", "I", "T", "R", "E", "S", "O", "R", "E"],
			["C", "U", "A", "T", "R", "O", "C", "I", "N", "C", "O"],
			["S", "E", "I", "S", "A", "S", "I", "E", "T", "E", "N"],
			["O", "C", "H", "O", "N", "U", "E", "V", "E", "Y", "O"],
			["L", "A", "D", "I", "E", "Z", "S", "O", "N", "C", "E"],
			["D", "O", "C", "E", "L", "Y", "M", "E", "N", "O", "S"],
			["O", "V", "E", "I", "N", "T", "E", "D", "I", "E", "Z"],
			["V", "E", "I", "N", "T", "I", "C", "I", "N", "C", "O"],
			["M", "E", "D", "I", "A", "C", "U", "A", "R", "T", "O"]
		]
		createMatrix(letters);
		setSameHeight("mainRowId")
	}
</script>
</head>

<body onload="createMatrixOnload()">

    <div class="mainRow" id="mainRowId">
		<div id="matrixArea" class="mainColumn box">
		  <input type="radio" id="matrix" name="workArea" value="matrix" checked>
		  <label for="matrix">Play on the matrix</label>
		  
		   <input type="color" id="matrixColor" name="matrixColor"
           value="#FFFFFF">
  		  <label for="head">Color</label>
  		  <button type="button" onClick="saveState()">Save</button>
  		  <button type="button" onClick="clearMatrix()">Clear</button>  
  		  Pause clock: <input type="checkbox" id="pauseClock" onclick="changeClockState()" value="off">

		</div>
		
		<div id="textArea" class="mainColumn box">
		  <input type="radio" id="text" name="workArea" value="text">
		  <label for="text">Customize a running text</label>
		</div>
		
		<div id="periodArea" class="secondMainColumn box"> 
			<h2>Period</h2>
		</div>
	
	</div>

	<div id="commandsArea" class="box">
		<p>Commands Area</p>
	</div>
	
</body>

</html>
